<!-- # Once you add your API key below, make sure to not share it with anyone! The API key should remain private. Replace with your API KEYS -->

OPENAI_API_KEY = "sk-..."

ATHROPIC_API_KEY = "sk-ant-..."

<!-- # https://aistudio.google.com/app/apikey -->
GOOGLE_API_KEY="...."


<!-- #langsmith key -->

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY = "...."
LANGCHAIN_PROJECT="Crew_AI"

<!-- # Tools for crew_ai -->

SERPER_API_KEY = ""

<!--  # DBSetup -->

DB_HOST=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""